{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content-chart float-right">
                        <h1>Banks</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Bank Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                    <thead>
                                    <tr>
                                        <th>Bank ID</th>
                                        <th>Bank Name</th>
                                        <th>Bank City</th>
                                        <th>Bank Area</th>
                                        <th>Bank Branch</th>
                                        <th>Bank Address</th>
                                        <th>Bank Pincode</th>
                                        <th>Bank IFSC Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for data in b %}

                                    <tr>
                                        <td>{{data.b_id}}</td>
                                        <td>{{data.b_name}}</td>
                                        <td>{{data.b_city}}</td>
                                        <td>{{data.b_area}}</td>
                                        <td>{{data.b_branch}}</td>
                                        <td>{{data.b_address}}</td>
                                        <td>{{data.b_pincode}}</td>
                                        <td>{{data.b_ifsc}}</td>
                                    </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}